@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {

    width: 100%;
    height: 100%;

    background-color: #11111b;
    color: #cdd6f4;
    font-family: "Roboto", sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: #313244;
    padding: 10px;
    width: 50%;
    height: 50%;
    border-radius: 10px;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 80% 20%);
    /* align-items: center; */
    place-items: center;

}

#one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#three {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.child {
    background-color: #1e1e2e;
    width: 90%;
    height: 70%;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1000%;
}

#things {
    background-color: #1e1e2e;
    padding: 10px;
    border-radius: 10px;

    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

h3 {
    margin-top: 0;
}

#lol {
    font-weight: bolder;
}

#lol2 {
    font-weight: lighter;
}

.just_for_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    background-color: red;
    border: none;
    border-radius: 5px;
    background-color: #11111b;
    color: #cdd6f4;
    font-weight: bolder;
    /* display: none; */
}
